<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::layout(~{::section})">
<head>
 <meta charset="UTF-8"/>
 <title>User Dashboard</title>
</head>
<body>
<section>
<div class="container">
<div class="card">
<div class="card-body my-5">
<div class="container text-center">
 <img src="" style="height:200px; width:200px" class="my_profile_picture" th:src="@{'/img/contact_logo.png'}" alt="profile photo">
</div>  
<h1 class="text-center mt-3 text-secondary font-italic">Start Adding Contact on cloud...</h1>
<div class="text-center">
<a th:href="@{/user/add-contact}" class="btn btn-primary btn-block-l  text-uppercase mt-5 ">Add New Contact</a>
</div>
</div>
</div></div>
<script >
 $(document).ready(() => {
	$(".item").removeClass("active");
	$("#home-link").addClass("active");
 });


</script>

</section>


</body>
</html>