body{
	background:#e2e2e2!important;
}
.bg-primary{
	background:#009688!important
}
.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/banner.jpg);
	background-size:cover;
	color:white;
	
}
.my-card{
	padding:20px;
	background:#ffffff;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
/*Sidebar Style*/
@media only screen and (max-width:600px){
	.sidebar{
	display:none;
	width:80% !important ;
	background:white;
	height:100%;
	position:fixed;
	padding-top:20px;
	
}

.content{
	margin-left:0% !important;
}
	
}

.sidebar{
	width:18%;
	background:white;
	height:100%;
	position:fixed;
	padding-top:45px;
	z-index:999999999999999999999999;
	
}
.sidebar a{
	display:block;
	width:100%;
	padding: 10px 25px;
	text-decoration:none;
	color:Black;
	
}	 
.sidebar a:hover{
	 background:#009688;
	 
	 }
	 .sidebar .divider{
	 height:.5px;
	 width:100%;
	 background:#e2e2e2;
	 top-margin:10px;
	 }
.content{
	
	margin-left:20%;
}
.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
	
}

.my_profile_picture{
	width:35px;
	height:35px;
	object-fit:cover;
	border-radius:50%;
	
}

/* search css*/
.search-container{
	position:relative;
	
}

.search-result{
	position:absolute;
	background:white;
	width:100%;
	padding:10px;
	border:1px solid gray;
	display:none;
}

.active{
	background:#009688 !important;
	color:white !important;
}
.align-right {
        text-align: right;
       
      }