<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
 <meta charset="UTF-8"/>
 <title>Document</title>
</head>
<body>
<section >

<div class="row ">
  <div class="col-sm-6 ">
    <div class="card ">
      <div class="card-body ">
        <h5 class="card-title">Github</h5>
        
        <a href="#" class="btn btn-primary">Git</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">LinkedIn</h5>
      
        <a href="#" class="btn btn-primary">linkedIn</a>
      </div>
    </div>
  </div>
</div>

</section>


</body>