<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
 <meta charset="UTF-8"/>
 <title>Home-page</title>
</head>
<body>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form id="Login-form" class="form" th:action="@{/signin}" action="#" method="post">
        <h3 class="text-center  ">Login</h3>
        
       
        
         <div th:if="${param.error}" class="alert alert-danger">
        Invalid username and password
        </div>
        
         <div th:if="${param.logout}" class="alert alert-success">
          You have been logged out
        </div>
        
         <div th:if="${param.change}" class="alert alert-success">
         <p th:text="${param.change}"></p>
        </div>
        
          <!-- Email input -->
          <div class="form-outline mb-4">
             <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
          </div>

         
            <div id="register-link" class="text-right">
            <a href="/signUp/" class="text-info text-primary">Register Here</a>
          
            </div>
            
            <div class="align-right">
             
             <a th:href="@{/forgot}" class="text-info text-primary">Forgot Password</a>
             </div>
                       
          </div>

          <!-- Submit button -->
          <button class="btn btn-lg bg-primary " type="submit">Sign in</button>

         

         
          

        </form>
      </div>
    </div>
  </div>
</section>


</body>
</html>